<footer>
    <div class="ink-grid">
        <div class="column-group horizontal-gutters">
            <div class="all-100">
                
            </div>
        </div>
    </div>
    {% if page.chart %}
		<script type="text/javascript" src="/static/chart.bundle.js"></script>
		
		<script>
		    
		    var code = document.getElementsByClassName("language-chart")[0].textContent;

		    document.getElementsByTagName("pre")[0].innerHTML = "";

		    document.getElementsByTagName("body")[0].setAttribute('style','padding-top:'+$("#navi").height()+'px');

		    // document.getElementsByClassName("putChart")[0].innerHTML = "<canvas id='myChart' width='200' height='200' style='margin-top: 100px;'></canvas>";
		    
		    var ctx = document.getElementById('myChart');

			var myChart = new Chart(ctx, JSON.parse(code));

			document.getElementById("myChart").setAttribute('style','position: relative;margin: auto;height: 30vh;width: 80vw;');

		    
		</script>


	{% endif %}
</footer>
