<header class="noprint">
    <div class="topbar">
        <div class="pagecontent">
            <div class="ink-grid">
                <div id="navi" class="column-group horizontal-gutters">
                    <div class="all-50">
                        <span class="logoText">C'est la vie</span>
                    </div>
                    <div class="all-50">
                    <nav class="ink-navigation">
                        <ul class="menu horizontal black push-right">
                            <li{% if page.whereami == 'index' %} class="active"{% endif %}><a href="/life/index.html"><i class="fa fa-th-large icon-white"></i> Blog</a></li>
                        </ul>
                    </nav>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div style="height:40px"></div>
    <!-- mermaid support -->
	{% if page.mermaid %}
		<script type="text/javascript" src="/static/mermaid.min.js"></script>
		<script>
		    var config = {
		        startOnLoad:true,
		        flowchart:{
		            useMaxWidth:false,
		            htmlLabels:true
		        }
		    };
		    mermaid.initialize(config);
		    $(function(){
		        var elements = document.getElementsByClassName("language-mermaid");
		        for (var i = elements.length; i--;) {
		            element = elements[i];
		            var graphDefinition = element.innerText;
		            if (graphDefinition) {
		                var svg = mermaid.render('ha_mermaid_' + i, graphDefinition, function(svg){});
		                if (svg) {
		                    var svgElement = document.createElement('div');
		                    preNode = element.parentNode;
		                    svgElement.innerHTML = svg;
		                    svgElement.setAttribute('class', 'mermaid');
		                    svgElement.setAttribute('data-processed', 'true');
		                    preNode.parentNode.replaceChild(svgElement, preNode);
		                }
		            }
		        }
		    });
		</script>
	{% endif %}

	{% if page.chart %}
		<script type="text/javascript" src="/static/chart.bundle.js"></script>
		<canvas id="myChart" width="400" height="400"></canvas>
		<script>
		    var ctx = document.getElementById('myChart');
		    var code = document.getElementsByClassName("language-chart")[0].textContent;
			var myChart = new Chart(ctx, code);

		</script>


	{% endif %}

	
</header>
